@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:is(.dark *));

@theme {
  --grid-template-columns-pokemon-stats: max-content 3ch 1fr;
  --grid-template-columns-pokemon-moves: repeat(auto-fit, minmax(172px, 1fr));

  --border-width-3: 3px;

  --breakpoint-xs: 475px;

  --color-pokemon: #fb1b1b;
  --color-normal: #a8a77a;
  --color-fire: #ee8130;
  --color-water: #6390f0;
  --color-electric: #f7d02c;
  --color-grass: #7ac74c;
  --color-ice: #96d9d6;
  --color-fighting: #c22e28;
  --color-poison: #a33ea1;
  --color-ground: #e2bf65;
  --color-flying: #a98ff3;
  --color-psychic: #f95587;
  --color-bug: #a6b91a;
  --color-rock: #b6a136;
  --color-ghost: #735797;
  --color-dragon: #6f35fc;
  --color-dark: #705746;
  --color-steel: #b7b7ce;
  --color-fairy: #d685ad;

  --shadow-box: 3px 3px 3px rgb(0 0 0 / 0.3);

  --animate-loader: loader 2s linear infinite;

  @keyframes loader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility hint--bottom {
  /**
  * bottom tooltip
  */
  --rotation: -45deg;
  &:before {
    margin-top: -5.5px;
    transform: rotate(var(--rotation));
  }
  &:before {
    top: 100%;
    left: 50%;
  }
  &:after {
    top: 100%;
    left: 50%;
  }
  &:before {
    left: calc(50% - 6px);
  }
  &:after {
    transform: translateX(-50%);
  }
  &:hover:before {
    transform: translateY(8px) rotate(var(--rotation));
  }
  &:hover:after {
    transform: translateX(-50%) translateY(8px);
  }
}

@utility hint--right {
  /**
  * right tooltip
  */
  --rotation: -135deg;
  &:before {
    margin-left: -5.5px;
    margin-bottom: -6px;
    transform: rotate(var(--rotation));
  }
  &:after {
    margin-bottom: calc(-1 * (1rem + 16px) / 2);
  }
  &:before {
    left: 100%;
    bottom: 50%;
  }
  &:after {
    left: 100%;
    bottom: 50%;
  }
  &:hover:before {
    transform: translateX(8px) rotate(var(--rotation));
  }
  &:hover:after {
    transform: translateX(8px);
  }
}

/* Markdown Github style */
@utility markdown {
  & > *:last-child {
    @apply mb-0;
  }

  & p {
    @apply mb-4;
  }

  & table {
    @apply mb-4;
  }

  & ul {
    @apply mb-4;
  }

  & p:first-letter {
    @apply uppercase;
  }

  & li:first-letter {
    @apply uppercase;
  }

  & p {
    @apply text-pretty;
  }

  & table {
    @apply block w-max max-w-full border-collapse border-spacing-0 overflow-auto;
  }

  & table th {
    @apply font-semibold;
  }

  & table th {
    @apply border border-slate-400 px-3.5 py-1.5 dark:border-slate-700;
  }

  & table td {
    @apply border border-slate-400 px-3.5 py-1.5 dark:border-slate-700;
  }

  & table tr {
    @apply bg-slate-200 dark:bg-slate-950;
  }

  & table tr:nth-child(2n) {
    @apply bg-slate-300 dark:bg-slate-900;
  }

  & ul {
    @apply pl-8;
  }

  & ol {
    @apply pl-8;
  }

  & li + li {
    @apply mt-1;
  }

  & li > p {
    @apply mt-4;
  }

  & code {
    font-weight: 500;
    @apply rounded-md bg-slate-200 px-1.5 py-1 text-sm whitespace-nowrap dark:bg-slate-700;
  }
}

@layer components {
  /*! Hint.css - v3.0.0 - 2023-11-29
  * https://kushagra.dev/lab/hint/
  * Copyright (c) 2023 Kushagra Gour */
  [class*="hint--"] {
    @apply relative;
  }

  [class*="hint--"]:before,
  [class*="hint--"]:after {
    z-index: 98;
    transition: 0.3s ease;
    @apply pointer-events-none invisible absolute opacity-0 hover:visible hover:opacity-100 hover:delay-100;
  }

  [class*="hint--"]:before {
    content: "";
    border: 6px solid transparent;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    z-index: 99;
    @apply absolute rounded-sm bg-slate-500 dark:bg-slate-600;
  }

  [class*="hint--"]:after {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0px black;
    @apply rounded-sm bg-slate-500 p-2 leading-4 font-medium whitespace-nowrap text-white dark:bg-slate-600;
  }

  [class*="hint--"][aria-label]:after {
    content: attr(aria-label);
  }

  [class*="hint--"][data-hint]:after {
    content: attr(data-hint);
  }
}

@layer base {
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}

:root {
  color-scheme: dark light;
}

* {
  scrollbar-color: var(--color-slate-500) transparent;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.img-pokemon {
  image-rendering: pixelated;
  aspect-ratio: 1 / 1;
  filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 20%));
}

.img-item {
  image-rendering: pixelated;
  aspect-ratio: 1 / 1;
}

.text-shadow {
  text-shadow:
    0 1px 0 black,
    0 0 1px rgba(0, 0, 0, 0.6),
    0 0 2px rgba(0, 0, 0, 0.7),
    0 0 3px rgba(0, 0, 0, 0.8),
    0 0 4px rgba(0, 0, 0, 0.9);
}
